/* Open+Sans from google fonts */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.logo {
    width: 138px;
    position: absolute;
    left: 3% !important;
    top: 0px;
}

.navbar ul {
    width: 150px;
}

.profile_menu li {
    list-style: none;
    z-index: 9999;
}

.profile_menu {
    position: absolute;
    right: 7%;
    top: 43px;
}
.location_info p {
    display: flex;
    align-items: center;
}
.location_info p span {
    margin-left: 10px;
    word-break: break-word;
    padding-right: 15px;
}
@media (max-width: 590px) {
    .profile_menu {
        position: absolute;
        right: 7%;
        top: 39px !important;
    }
}

.profile_menu .dropdown img {
    height: 49px;
    width: 49px;
    margin-top: -4px;
    border-radius: 50%;
    /*margin-right: 20px !important*/
}
@media (max-width: 767px) {
    .profile_menu .dropdown img {
        height: 49px;
        width: 49px;
        margin-top: 4px !important;
        border-radius: 50%;
    }
}

.profile_menu .vendor_img img {
    height: 49px;
    width: 49px;
    margin-right: 20px !important;
    border-radius: 50%;
}

.vendor_home .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 10px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
.vendor_img .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -27px !important;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
/* .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  } */

.dropdown-logo {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: white;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content {
    border: none !important;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.08), 0 10px 10px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

.profile_menu .add_buisness {
    margin-top: 15px !important;
    z-index: 9999 !important;
}

.dropdown-menu {
    border: none !important;
    margin-right: 140px !important;
}

.dropdown-menu a {
    text-transform: none !important;
}

.dropdown-menu a:hover {
    color: white;
    background-color: #f4e059;
}
.profile_menu.d-flex {
    align-items: center;
}
.profile_menu .add_buisness a:hover {
    background-color: #8d99af !important;
    /*background-color: white;*/
    transition: ease 0.4s;
    color: white;
    /*border: 0.5px solid #f4e059;*/
    text-decoration: none;
}

.profile_menu .add_buisness a {
    /*border: 0.5px solid #f4e059;*/
    text-decoration: none;
    padding: 10px 18px;
    margin-top: -8px;
    font-size: 16px;
    background: #f4e059;
    border-radius: 5px;
    color: black;
    font-weight: 500;
}

.top_left_logo img {
    width: 82px;
    height: 82px;
    border-radius: 5px;
}

.logo_type {
    margin-left: 10px;
}

.logo_info .logo_type p span {
    font-size: 13px;
    font-weight: 400;
    background-color: #f4e059;
    padding: 2px 14px 2px 14px;
    border-radius: 4px;
}

.logo_info .logo_name h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    font-weight: 600;
    line-height: 28.6px;
    margin-left: 10px;
    margin-top: -11px !important;
}
@media (min-width: 997px) and (max-width: 1127px) {
    .media_li a {
        margin-left: 14px !important;
        margin-right: 25px;
    }
}

@media (min-width: 500px) and (max-width: 767px) {
    .rating .lead {
        margin-top: -35px !important;
        margin-left: -8px;
    }
}

.logo_info .logo_location {
    margin-left: 10px;
    margin-top: -5px;
}

.logo_info .logo_location i {
    font-size: 13px !important;
}

.logo_info .logo_location h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 12.8px;
    margin-top: 14.5px;
}

.logo_info .logo_rate {
    margin-left: 10px;
}

@media (max-width: 520px) {
    .row.lead.give_cmt .glyphicon {
        font-size: 20px;
        margin-left: 2px;
        margin-top: 15px !important;
    }
    .rating .lead {
        padding-top: 10px;
        margin-left: -13px;
    }
    .comment_rate .glyphicon {
        margin-left: 3px;
        color: white;
        font-size: 7px !important;
        padding: 4px 4px 4px 4px;
        background-color: #00ba74;
    }
    .right_tl {
        background-color: white;
        border: 1px solid white;
        margin-top: 26px !important;
        border-radius: 4px 4px 0 0;
    }
    .review_flex {
        display: block !important;
    }
    .u_date h1 {
        font-family: "Open Sans", sans-serif;
        margin-top: 0px;
        margin-left: 1.5px;
        color: #e4074e;
        font-size: 13px !important;
    }
}

@media (min-width: 610px) {
    .top_right {
        position: absolute;
        margin-top: 379px;
        right: 6%;
    }
    .top_left_logo {
        /* display: flex; */
        position: absolute;
        margin-top: 350px;
        left: 7%;
    }
    .review_flex {
        display: block;
    }
}

@media (min-width: 520px) {
    .review_flex {
        display: flex;
    }
    .u_date h1 {
        color: #e4074e;
        position: absolute;
        margin-top: 33px;
        right: 10%;
        font-size: 14px !important;
    }
}

@media (max-width: 610px) {
    .logo_info {
        margin-top: 33px !important;
    }
    .top_left_logo {
        /* display: flex; */
        margin-top: 360px;
        left: 7%;
    }
    .top_right {
        justify-content: left !important;
        display: flex;
        margin-top: -9px;
    }
    .top_right .rq_call h1 a {
        width: 150px !important;
        background-color: #f4e059;
        font-weight: 700 !important;
        padding: 10px 18px 10px 18px;
        font-size: 14px !important;
        border-radius: 4px;
        color: black;
        cursor: pointer;
    }
    .logo_bottom {
        margin-top: -10px;
    }

    .top_right .rq_call {
        text-align: left !important;

        margin-top: -10px !important;
        margin-bottom: 14px !important;
    }
    .top_right .view_broch {
        margin-top: -1px !important;
    }
    .top_right .view_broch h1 {
        margin-left: 15px;
        width: 125px !important;
        background-color: #f4e059;
        font-weight: 700;
        padding: 10px 10px 10px 10px;
        font-size: 14px !important;
        border-radius: 4px;
        color: black;
    }
}

.top_right .rq_call h1 a {
    font-family: "Open Sans", sans-serif;
    background-color: #f4e059;
    font-weight: 700 !important;
    padding: 7px 18px 7.9px 18px;
    font-size: 16px;
    border-radius: 4px;
    color: black;
    cursor: pointer;
}

.top_right .rq_call h1 a:hover {
    background-color: white;
    border: 1px solid #f4e059;
    transition: ease 0.3s;
    text-decoration: none;
}

.top_right .rq_call {
    text-align: center;
}

.top_right .rq_call {
    margin-bottom: 10px !important;
}

.top_right .view_broch h1 {
    font-family: "Open Sans", sans-serif;
    background-color: #f4e059;
    font-weight: 700;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    border-radius: 4px;
    color: black;
}

.top_right .view_broch h1:hover {
    transition: ease 0.3s;
    background-color: white;
    border: 1px solid #f4e059;
}

.top_right .view_broch {
    cursor: pointer;
    text-align: center;
    margin-top: 1px !important;
}

.business_detail .business_title h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 22.4px;
    margin-top: 17px !important;
    font-weight: 400;
}

.business_detail .business_para {
    margin-bottom: 30px;
}

.business_detail .business_para p {
    font-family: "Open Sans", sans-serif;
    font-size: 16.8px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: -43px;
}

.body {
    position: relative !important;
}

.body_top {
    margin-top: 1px;
}

.body_part {
    background-color: white;
    border: 1px solid white;
    border-radius: 6px;
}

.business_detail {
    margin-left: 25px;
}

.business_image img {
    width: 187px;
    height: 137px;
    border-radius: 10px;
}

.product_dtail .product_logo_td {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.product_part {
    margin-top: 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 6px;
}
/* .product_part .product{

} */

.product_title h1 {
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-top: -33px !important;
    margin-left: 24px;
    font-size: 25px !important;
}
.product_dtail .table .title,
.product_dtail .table .category {
    font-size: 16.6px;
    font-weight: 400;
    width: 129px !important;
    border-bottom: none;
    border-top: none;
}

@media (max-width: 997px) {
    .product_dtail .table .title,
    .product_dtail .table .category {
        font-size: 12.6px;
        font-weight: 400;
        border-bottom: none;
        border-top: none;
    }
    .product_dtail .product_logo_td {
        /*  width: 37px;
        height: 37px; */
        border-radius: 50%;
    }
    .product_dtail table .d {
        font-size: 11px;
        text-align: left;
    }
    .product_dtail table .price {
        text-align: left;
        font-size: 10.13px;
    }
}

@media (max-width: 767px) {
    .product_dtail .table .title,
    .product_dtail .table .category {
        font-size: 12.6px;
        font-weight: 400;
        border-bottom: none;
        width: 105% !important;
        border-top: none;
    }
}

.product_dtail table .d {
    font-size: 14px;
}

.product_dtail table .price {
    font-size: 13.13px;
}

.product_dtail table .p_title {
    width: 210px !important;
}

.product_dtail .p_cat {
    width: 109px !important;
}

.product_dtail .p_d {
    width: 257px !important;
}

table {
    width: 100%;
    margin-top: 30px;
}

table th {
    font-size: 18.13px;
    font-weight: 600;
    text-align: center;
}

.gallery {
    border-radius: 6px;
    margin-top: 12px !important;
    background-color: white;
    border: 1px solid white;
}

.gallery_main {
    margin-top: 40px;
}

.gallery_title h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 25px !important;
    margin-left: 23px;
    margin-top: 25px;
    font-weight: 500 !important;
}
.gallery_image {
    margin-left: 20px;
}

.gallery_image img {
    width: 220px;
    margin-left: 17px;
    margin-top: 10px;
    height: 220px;
    border-radius: 8px;
}

.gallery_image .customer-logos .slide {
    margin-left: 10px;
}

.comment {
    margin-top: 25px;
    margin-bottom: -26px !important;
}

.comment-li {
    margin-left: 50px;
}

.comment-li .comment_title h1 {
    font-size: 21.33;
    font-weight: 600;
}

.u_image img {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    margin-left: 50px;
}

.u_d .u_name h1 {
    font-family: "Open Sans", sans-serif;
    margin-top: 28px;
    font-size: 17px;
    text-align: left;
    font-weight: 400;
}

.u_d p {
    font-size: 15px;
    font-weight: 400;
}

.verify h1 {
    text-align: center;
    background-color: #f4e059;
    padding: 15px 10px 15px 10px;
    color: black;
    font-size: 17px;
    border-radius: 4px 4px 4px 4px;
}

.dropdown-menu {
    width: 130px;
}

.dropdown-menu a {
    text-align: left !important;
    margin-bottom: -5px;
    margin-top: -5px;
    font-size: 16px !important;
}
.right_li img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
}

.right_li {
    padding: 5px 5px 5px 5px;
}

.right_mge {
    border-radius: 4px 4px 0 0;
    background-color: #f4e059;
    text-align: center;
    padding: 6px;
    margin: -1px;
}

/* @media only screen and (max-width: 767px) {
    .logo {
        left: -10% !important;
    }
} */

/* @media (min-width: 500px) {
    .logo {
        width: 138px;
        position: absolute;
        left: -15.5% !important;
        top: 10px !important;
    }
} */

/* @media (max-width: 500px) {
    .logo {
        z-index: 9999;
        width: 138px;
        position: absolute;
        left: 14.5% !important;
        top: 10px !important;
    }
} */

.right_mge h1 {
    text-align: center;
    margin-top: 10px;
}

.right_tl {
    background-color: white;
    border: 1px solid white;
    border-radius: 4px 4px 0 0;
}

.right_mge .u_name {
    margin-left: 30px;
}

.right_tl .mge_row h1 {
    background-color: #f4e059;
}

.change_input input {
    height: 50px;
}

.change_input input::-webkit-input-placeholder {
    font-size: 15px;
}

.change_input_mge textarea {
    height: 156px !important;
}

.change_input {
    margin-left: 20px;
    margin-right: 20px;
}

.change_input_mge {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -16px;
}

.right_tl label {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400 !important;
    font-family: "Open Sans", sans-serif;
}

.right_tl .mge_row {
}

.right_tl .mge_row h1 a {
    text-decoration: none !important;
    color: black;
}

.right_tl .mge_row h1 button {
    background-color: #f4e059;
    font-size: 16px;
}

.right_tl .mge_row h1 {
    font-family: "Open Sans", sans-serif;
    background-color: #f4e059;
    font-size: 16px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    outline: none;
    /* width: 89%; */
    padding-top: 10px;
    color: black;
    border-radius: 4px;
    padding-bottom: 10px;
}

.time_tl {
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    /*margin-top: 30px;*/
}

.time_header {
    background-color: #f4e059;
    margin: -1px !important;
    border-radius: 4px 4px 0 0;
}

.time_header h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #0e0e0e;
}

.time_header p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-top: -6px;
    margin-left: 2px;
}

.open_time {
    margin-left: 20px;
    margin-bottom: 10px;
}

.open p {
    position: absolute;
    right: 40px;
    margin-top: 26px;
}

.open p span {
    background-color: #12b94d;
    border-radius: 29px;
    color: white;
    padding: 5px 18px 5px 18px;
}

.day p {
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    margin-left: 50px;
}

.timing p {
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    right: 55px;
    width: 25%;
}

.day_time {
    margin-top: 20px;
    margin-bottom: 10px;
}

.time_tl hr {
    margin-left: 20px;
    margin-right: 20px;
}
/* timing end */

.location_br {
    margin-top: 10px;
}

.location_header h1 {
    margin-left: 30px;
}
/* location end */
/* info */

.info {
    background-color: white;
    border: 1px solid white;
    margin-top: 13px;
    border-radius: 6px;
}

.info .info_br {
    margin-top: 30px;
}

.location_header h1 {
    font-size: 26px !important;
    margin-left: 24px;
    margin-top: 6px;
}
.info .add_info p {
    margin-left: 25px;
}

.add_info p i {
    background-color: #f4e059 !important;
    padding: 10px;
    border-radius: 50%;
}

.add_info p i {
    background-color: #f4e059 !important;
    padding: 8px 11px 8px 13px;
    border-radius: 50%;
}

.add_info p {
    font-size: 17px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
/* media info */

.media_tl {
    border-radius: 6px;
    background-color: white;
    border: 1px solid white;
    margin-top: 13px;
}

.media_li {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

.media_br {
    margin-left: 10px;
    margin-right: 10px;
}

.media_li a i:hover {
    color: blue !important;
}

.media_li a {
    margin-left: 25px;
    margin-right: 25px;
}

.media_li b {
    border-right: 1px solid #cfcecc;
}

.media_li .share i {
    color: blue !important;
}

.media_li a i {
    font-size: 18px;
    color: black;
}
/* comment and rating */

.item_tl {
    background-color: white;
    border: 1px solid white;
    margin-top: 12px;
    border-radius: 6px;
}

.item_header {
    margin-top: 30px !important;
}

.rating p {
    margin-top: 30px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.rating .lead .starrr {
    font-size: 24px;
}

.rating .lead {
    margin-left: 0px;
}

.comment_li {
    margin-right: 30px;
}

.comment_li input {
    height: 35px;
}

.comment_li input::-webkit-input-placeholder {
    font-size: 15px;
}

.comment_li .form-group textarea::-webkit-input-placeholder {
    font-size: 15px;
}

.comment_li .form-group textarea {
    height: 156px;
}

.comment_li label {
    font-size: 15px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
}

.review-btn {
    background-color: #f4e059 !important;
    color: black;
    padding: 9px 18px 12px 18px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px !important;
    border-radius: 5px;
    outline: none;
    border: none;
}

/* body {
    background-color: #e3e1dc !important;
} */
/* footer */

.footer_left h1 {
    font-size: 22px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: white !important;
}

@media (min-width: 750px) {
    .footer {
        background-color: #2f2f30;
        height: 350px;
    }
}

@media (max-width: 750px) {
    .footer {
        background-color: #2f2f30;
        height: auto !important;
    }
    .footer_media {
        margin-top: 40px !important;
        position: absolute;
        margin-bottom: 25px;
        margin-left: 15px;
    }
}

.footer_left {
    margin-top: 100px;
    /* margin-left:70px; */
}

.footer_left h2 {
    margin-top: 25px;
}

.footer_left h2 a {
    background-color: #f4e059;
    padding: 12px 12px 12px 12px;
    border-radius: 5px;
    color: black;
    position: relative;
    margin-top: 30px;
}

.footer_left_two {
    margin-top: 100px;
}

.footer_left_two h1 {
    color: #f4e059;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
}

.footer_left_two a {
    font-size: 15px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    text-decoration: none !important;
    color: white;
}

.footer_left_three {
    margin-top: 100px;
    /* margin-left:60px; */
}

.footer_left_three h1 {
    color: #f4e059;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
}

.footer_left_three a {
    font-size: 15px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    text-decoration: none !important;
    color: white;
}

.footer_right h1 {
    color: #f4e059;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
}

.footer_right {
    margin-top: 100px;
}

.footer_right a {
    font-size: 15px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    text-decoration: none !important;
    color: white;
}

.footer_bot_left {
    margin-top: 100px;
}

.footer_bot_left a {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: white;
    padding-left: 50px;
}

.footer_media {
    margin-top: 100px;
    position: absolute;
}

.footer_media a i {
    color: white;
    font-size: 20px;
}

.footer_media a {
    margin-left: 30px;
}
/* animation for comment */

.view_more {
    text-align: center;
}

.view_more button {
    margin-bottom: 19px;
    border: 1px solid #f4e059;
    font-size: 13.3235px;
    line-height: 18px;
    letter-spacing: 0.06em;
    background: rgba(244, 224, 89, 0.2);
    outline: none !important;
    padding: 8px 22px 8px 22px;
}

.view_more button:hover {
    background-color: #f0b446;
    color: white;
    transition: ease 0.3s;
}

#read_more {
    opacity: 1;
    animation-name: example;
    animation-duration: 1s;
}

#read_more.hide {
    opacity: 0;
    animation-name: example_rev;
    animation-duration: 1s;
}

@keyframes example {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@keyframes example_rev {
    100% {
        opacity: 1;
    }
    80% {
        opacity: 0.8;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    20% {
        opacity: 0.2;
    }
    0% {
        opacity: 0;
    }
}
/* reting */

.rating-loading {
    width: 25px;
    height: 25px;
    font-size: 0;
    color: #fff;
    background: url(../img/loading.gif) top left no-repeat;
    border: none;
}

.rating-container .rating-stars {
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.rating-container .rating-input {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    font-size: 1px;
    border: none;
    background: 0 0;
    padding: 0;
    margin: 0;
}

.rating-disabled .rating-input,
.rating-disabled .rating-stars {
    cursor: not-allowed;
}

.rating-container .star {
    display: inline-block;
    margin: 0 3px;
    text-align: center;
}

.rating-container .empty-stars {
    color: #aaa;
}

.rating-container .filled-stars {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    color: #fde16d;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke: 1px #777;
    text-shadow: 1px 1px #999;
}

.rating-rtl {
    float: right;
}

.rating-animate .filled-stars {
    transition: width 0.25s ease;
    -o-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
}

.rating-rtl .filled-stars {
    left: auto;
    right: 0;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
}

.rating-rtl.is-star .filled-stars {
    right: 0.06em;
}

.rating-rtl.is-heart .empty-stars {
    margin-right: 0.07em;
}

.rating-lg {
    font-size: 3.91em;
}

.rating-md {
    font-size: 3.13em;
}

.rating-sm {
    font-size: 2.5em;
}

.rating-xs {
    font-size: 2em;
}

.rating-xl {
    font-size: 4.89em;
}

.rating-container .clear-rating {
    color: #aaa;
    cursor: not-allowed;
    display: inline-block;
    vertical-align: middle;
    font-size: 50%;
    padding-right: 5px;
}

.clear-rating-active {
    cursor: pointer !important;
}

.clear-rating-active:hover {
    color: #843534;
}

.rating-container .caption {
    color: #999;
    display: inline-block;
    vertical-align: middle;
    font-size: 0% !important;
    margin-top: -0.6em;
    margin-left: 5px;
    margin-right: 0;
}

.rating-rtl .caption {
    margin-right: 5px;
    margin-left: 0;
}

@media print {
    .rating-container .clear-rating {
        display: none;
    }
}
/* model brochure */

.company_pro_close {
    position: absolute;
    left: 4%;
}

.profile_menu .dropdown-menu {
    margin-top: -2px !important;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 16px !important;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: "";
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: "";
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.verify {
    /* margin-top: 90px; */
    padding: 14px;
    border-radius: 5px;
    text-align: center;
    margin-top: -34px;
    font-family: "Open Sans", sans-serif;
}

.u_name h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
}

.u_name {
    text-align: center !important;
    justify-content: center;
}

.right_tl {
    background-color: white;
    border: 1px solid white;
    margin-top: -12px;
    border-radius: 6px;
}

@media (max-width: 500px) {
    .right_tl {
        background-color: white;
        border: 1px solid white;
        margin-top: 14px !important;
        border-radius: 6px;
    }
}
@media (min-width: 500px) {
    .right_tl {
        background-color: white;
        border: 1px solid white;
        margin-top: 0px;
        border-radius: 6px;
    }
}
.product_part {
    margin-top: 12px !important;
    background-color: white;
    border: 1px solid white;
    border-radius: 6px;
}

.time_tl {
    background-color: white;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 11px !important;
}

/* .table > thead > tr > th,
.table > tbody > tr > th, body
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    align-items: center;
    vertical-align: middle !important;
    border: none !important;
    padding: 15px ​8px;
} */
tr {
    padding: 0.75rem 1rem;
}

.body_right_tl {
    background-color: white;
    border-radius: 5px;
    margin-top: 30px !important;
    border: 1px solid white;
}

.package_br.checkout .package_name h1 {
    margin-top: 2px;
    font-size: 29px;
}

.package_br {
    margin: 19px;
}

.checkout .package_dtail {
    margin-left: -8px;
}

.checkout .package_price h1 {
    font-size: 23px;
    font-weight: 500;
}

.package_checkout.card {
    margin: 0px 10px 10px 10px !important;
    background-color: #f4e059 !important;
    border: 1px solid #f4e059;
}

.card_code {
    margin-left: -5px;
    margin-right: -5px;
}

.verify h1 {
    margin-bottom: -4px;
    text-align: center;
    background-color: #f4e059;
    padding: 15px 32px 19px 21px;
    color: black;
    margin-left: -10px !important;
    font-size: 17px;
    width: 105.5% !important;
    border-radius: 4px 4px 4px 4px;
    font-weight: 600;
}

.right_tl .mge_row {
    margin-bottom: -15px;
}

.location_tl {
    background-color: white;
    border: 1px solid white;
    margin-top: 13px;
    border-radius: 6px;
}

.glyphicon-star-empty {
    font-size: 27px;
    margin-top: -20px;
    color: #c2c2c2;
}

.glyphicon-star {
    font-size: 27px;
    margin-top: -20px;
}

.glyphicon-minus-sign:before {
    content: "\e082";
    display: none;
}

.rating .lead {
    margin-top: -48px;
    margin-left: -13px;
}

.item_br {
    margin-top: -19px;
    margin-left: 30px;
    margin-bottom: 30px !important;
}

.item_br h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    margin-left: -7px;
    margin-top: 37px;
}

.info_header h1 {
    font-size: 25.33px !important;
    font-weight: 500 !important;
    font-family: "Open Sans", sans-serif;
    margin-left: 30px;
}

.company_dropdown {
    margin-left: -45px !important;
}

.company_dropdown a {
    text-align: left;
    margin-top: 5px !important;
}

.right_tl .mge_row h1 button {
    font-weight: 600;
    background-color: #f4e059;
    font-size: 16px;
    border: none !important;
    outline: none !important;
}

.product_dtail {
    max-height: 620px !important;
}

.time_tl.next_one {
    margin-top: -9px !important;
}

a.dropdown-item.cu_dropdown {
    margin-top: 10px;
}
.product_dtail table .d {
    font-size: 14px;
    text-align: left;
}

.u_d {
    margin-top: -20px !important;
}
.u_image {
    margin-top: 9px !important;
}

tr {
    border-bottom: 0.5px solid #e2dbdb;
}

a.check_in_cy img {
    height: 14px !important;
    width: 14px !important;
}
.logo_name {
    margin-left: -10px;
    margin-top: 15px;
}

a.check_in_cy img {
    height: 14px !important;
    margin-top: -15px !important;
    width: 14px !important;
    margin-left: 5px;
}

.logo_info .logo_location {
    margin-left: 10px;
    margin-top: -26px;
}

.logo_info .logo_location h1 i {
    margin-right: 5px;
    font-size: 14px !important;
}

.company_rate .glyphicon {
    font-size: 14px !important;
}
.company_rate {
    margin-top: -7px;
}

.logo_rate {
    display: flex;
}

span.count.count_cy {
    margin-top: -5px !important;
    color: #ded6d6 !important;
    font-family: "Open Sans", sans-serif;
}
.cu_tr .pro_title {
    text-align: left !important;
}

.comment_rate .glyphicon {
    margin-left: 3px;
    color: white;
    font-size: 10px;
    padding: 4px 4px 4px 4px;
    background-color: #00ba74;
}
.comment_flex {
    display: flex;
    margin-top: -5px;
    margin-left: -1px;
}

.u_d {
    margin-top: -25px !important;
}
.comment_li {
    margin-top: 6px !important;
}
body {
    background-color: rgb(212 201 128 / 23%) !important;
}
.comment_flex p {
    font-size: 15px;
    margin-left: 3px;
    margin-top: -2px;
}

tr.cu_tr {
    height: auto;
}
.cu_tr .pro_title {
    font-size: 15px;
    text-align: left !important;
}

.u_d.vendor_comment {
    margin-top: -4px !important;
}
.comment_flex.d-flex.vendor_c {
    margin-top: 27px;
}

.vendor_comment .comment_flex p {
    margin-top: -5px !important;
}

.info_header h1 {
    font-size: 25.33px !important;
    font-weight: 500 !important;
    font-family: "Open Sans", sans-serif;
    margin-top: 28px;
    margin-left: 24px;
}

@media (min-width: 767px) and (max-width: 997px) {
    .change_input {
        margin-left: 20px;
        height: 60px !important;
        margin-right: 20px;
        margin-top: -2px !important;
    }
    .right_mge .u_name {
        margin-left: 2px !important;
    }

    .u_name h1 {
        font-size: 20px !important;
        margin-left: 3px;
    }
    .right_li img {
        width: 41px !important;
        height: 41px I !important;
        border-radius: 50%;
    }
    .right_tl .mge_row h1 {
        font-family: "Open Sans", sans-serif;
        background-color: #f4e059;
        font-size: 15px !important;
        text-align: center;
        height: 39px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 2px !important;
        color: black;
        border-radius: 4px;
        padding-bottom: 10px;
    }
    .time_header h1 {
        font-family: "Open Sans", sans-serif;
        font-size: 14px !important;
        font-weight: 700;
    }
    .time_header p {
        font-family: "Open Sans", sans-serif;
        font-size: 11px !important;
    }
    .open p span {
        background-color: #12b94d;
        border-radius: 29px;
        color: white;
        padding: 5px 18px 5px 18px;
        margin-right: -10px;
    }
    .day p {
        font-size: 13.5px !important;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
        margin-left: 20px;
    }
    .timing p {
        font-size: 13px !important;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
        position: absolute;
        right: 40px;
    }
    .info .add_info p {
        font-size: 12px !important;
        margin-left: 11px !important;
        white-space: nowrap;
    }
    .add_info p {
        font-size: 14px !important;
        font-weight: 400;
        font-family: "Open Sans", sans-serif;
    }
    .info_header h1 {
        font-size: 21.33px !important;
        font-weight: 500 !important;
        font-family: "Open Sans", sans-serif;
        margin-top: 28px;
        margin-left: 19px !important;
    }
    .media_li a i {
        font-size: 14px !important;
        color: black;
    }
    .media_li a {
        margin-left: 15px !important;
        margin-right: 11px !important;
    }

    .business_detail .business_title h1 {
        font-size: 21.4px !important;
        margin-top: 38px !important;
        font-weight: 600;
    }
    .business_detail .business_para p {
        font-size: 14.8px;
        font-weight: 400;
        margin-top: 20px;
    }
    .product_title h1 {
        margin-top: -15px;
        margin-left: 37px;
        font-size: 22px !important;
    }
    .product_dtail table .p_title {
        width: 210px !important;
        font-size: 17px;
    }
    .product_dtail .p_cat {
        width: 109px !important;
        font-size: 16px;
    }
    .product_dtail .p_d {
        width: 257px !important;
        font-size: 16px;
    }

    .product_dtail .p_price {
        font-size: 16px;
    }
    .gallery_title h1 {
        font-size: 23px !important;
        margin-left: 50px;
        margin-top: 42px;
        font-weight: 500 !important;
    }
    .location_header h1 {
        font-size: 23px !important;
        margin-left: 30px;
        margin-top: 6px;
    }
    .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
    .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan
        .mapboxgl-canvas {
        width: 198px !important;
        touch-action: none;
        height: 200px !important;
    }
    .mapboxgl-map {
        font: 12px/20px Helvetica Neue, Arial, Helvetica, sans-serif;
        height: 200px !important;
        overflow: hidden;
        position: relative;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .gallery_title h1 {
        font-size: 22.5px !important;
        margin-left: 50px;
        margin-top: 42px;
        font-weight: 500 !important;
    }
    .u_d .u_name h1 {
        margin-top: 28px;
        font-size: 18px !important;
        text-align: left;
        font-weight: 400;
    }
    .comment_flex .glyphicon {
        font-size: 8px !important;
    }

    .comment_flex {
        display: flex;
        margin-top: -9px !important;
    }
    .item_br h1 {
        font-size: 23px;
        margin-top: 54px;
    }
}

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*================================================*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
/*Special Corresponds*/
.spe-cor {
    position: relative;
    background: #fff;
}
.spe-cor .carousel-correspondence [class*="cloneditem-"] {
    display: none;
}
.spe-cor .carousel-inner {
    margin-bottom: 0px;
}
.spe-cor h4.title {
    padding-top: 25px;
    padding-bottom: 10px;
}
.spe-cor .thumbnail img {
    border: 1px solid #ddd;
}
.spe-cor .thumbnail {
    margin-bottom: 0;
    border-radius: 0;
    padding: 10px;
    height: auto;
    position: relative;
    border: none;
    overflow: hidden;
}
.spe-cor .thumbnail:hover,
.spe-cor .thumbnail:active,
.spe-cor .thumbnail:focus {
    background: #fff;
}
.spe-cor .thumbnail:after {
    content: "";
    background: #005fb1;
    position: absolute;
    height: 5px;
    width: 100%;
    left: calc(100% + 10px);
    bottom: 0;
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
    -moz-transition: 0.5s;
}
.spe-cor .thumbnail:hover:after,
.spe-cor .thumbnail:active:after,
.spe-cor .thumbnail:focus:after {
    left: 0%;
    -webkit-transition: 1s; /* Safari */
    transition: 1s;
    -moz-transition: 1s;
}
.spe-cor .thumbnail .caption {
    padding: 0;
}
.spe-cor .thumbnail .caption h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 0.8;
}
.spe-cor .thumbnail .caption h3 > a {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #555;
    line-height: 0.8;
    text-transform: uppercase;
}
.spe-cor .thumbnail .caption h3 > a:hover,
.spe-cor .thumbnail .caption h3 > a:active,
.spe-cor .thumbnail .caption h3 > a:focus {
    color: #005fb1;
    text-decoration: none;
}
.spe-cor .thumbnail .caption p.cate-para {
    margin-bottom: 0px;
    text-align: center;
}
.spe-cor .thumbnail .caption p.cate-para > a,
.spe-cor .thumbnail .caption p.cate-para > a {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: left;
}
.spe-cor .thumbnail .caption p.cate-para > a:hover,
.spe-cor .thumbnail .caption p.cate-para > a:focus,
.spe-cor .thumbnail .caption p.cate-para > a:active {
    color: #cc0000;
    text-decoration: none;
}
.spe-cor .thumbnail .caption span.date,
.spe-cor .thumbnail .caption span.comment {
    margin-bottom: 0;
}
.carousel-correspondence .carousel-control.left,
.carousel-correspondence .carousel-control.right,
.carousel-video-thumb .carousel-control.left,
.carousel-video-thumb .carousel-control.right {
    background-image: none !important;
    color: #c0c0c0;
    height: 35px;
    width: 35px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(224, 224, 224);
    background-color: rgb(245, 245, 245);
    margin: 0;
}
.carousel-correspondence .carousel-control.left:hover,
.carousel-correspondence .carousel-control.right:hover,
.carousel-video-thumb .carousel-control.left:hover,
.carousel-video-thumb .carousel-control.right:hover {
    color: #fff;
    background: #f4e059;
}
.carousel-correspondence .controls,
.carousel-video-thumb .controls {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 75px;
    padding-right: 15px;
    padding-left: 15px;
    background: none;
    top: -19px;
    right: 0;
    margin-top: -40px;
    height: 35px;
}
.carousel-correspondence .carousel-control,
.carousel-video-thumb .carousel-control {
    color: #fff;
    padding: 0px;
    padding-top: 3px;
    color: #428bca;
    bottom: auto;
    width: 35px;
    height: 35px;
    text-shadow: none;
    opacity: 1;
    top: 0;
}
.carousel-correspondence .carousel-control:hover,
.carousel-video-thumb .carousel-control:hover {
    color: #d9534f;
}
.carousel-correspondence .carousel-control.left,
.carousel-correspondence .carousel-control.right,
.carousel-video-thumb .carousel-control.left,
.carousel-video-thumb .carousel-control.right {
    background-image: none !important;
}
.carousel-correspondence .carousel-control.right,
.carousel-video-thumb .carousel-control.right {
    left: auto;
}
.carousel-correspondence .carousel-control.left,
.carousel-video-thumb .carousel-control.left {
    right: auto;
}
.carousel-correspondence .carousel-indicators,
.carousel-video-thumb .carousel-indicators {
    bottom: -30px;
}
.carousel-correspondence .carousel-indicators li,
.carousel-video-thumb .carousel-indicators li {
    border-radius: 0;
    width: 10px;
    height: 10px;
    background: #ccc;
    border: 1px solid #ccc;
}
.carousel-correspondence .carousel-indicators .active,
.carousel-video-thumb .carousel-indicators .active {
    width: 12px;
    height: 12px;
    background: #3276b1;
}

/*================================================*/

/*Correspondece Slider*/
@media all and (min-width: 768px) {
    .carousel-correspondence .carousel-inner > .active.left,
    .carousel-correspondence .carousel-inner > .prev {
        left: -50%;
    }
    .carousel-correspondence .carousel-inner > .active.right,
    .carousel-correspondence .carousel-inner > .next {
        left: 50%;
    }
    .carousel-correspondence .carousel-inner > .left,
    .carousel-correspondence .carousel-inner > .prev.right,
    .carousel-correspondence .carousel-inner > .active {
        left: 0;
    }
    .carousel-correspondence .carousel-inner .cloneditem-1,
    .carousel-correspondence .carousel-inner .cloneditem-2 {
        display: block;
    }
}
@media all and (min-width: 768px) and (transform-3d),
    all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-correspondence .carousel-inner > .item.active.right,
    .carousel-correspondence .carousel-inner > .item.next {
        -webkit-transform: translate3d(33.333%, 0, 0);
        transform: translate3d(33.33%, 0, 0);
        left: 0;
    }
    .carousel-correspondence .carousel-inner > .item.active.left,
    .carousel-correspondence .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-33.333%, 0, 0);
        transform: translate3d(-33.333%, 0, 0);
        left: 0;
    }
    .carousel-correspondence .carousel-inner > .item.left,
    .carousel-correspondence .carousel-inner > .item.prev.right,
    .carousel-correspondence .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
@media all and (min-width: 992px) and (max-width: 1200px) {
    .carousel-correspondence .carousel-inner > .active.left,
    .carousel-correspondence .carousel-inner > .prev {
        left: -25%;
    }
    .carousel-correspondence .carousel-inner > .active.right,
    .carousel-correspondence .carousel-inner > .next {
        left: 25%;
    }
    .carousel-correspondence .carousel-inner > .left,
    .carousel-correspondence .carousel-inner > .prev.right,
    .carousel-correspondence .carousel-inner > .active {
        left: 0;
    }
    .carousel-correspondence .carousel-inner .cloneditem-2,
    .carousel-correspondence .carousel-inner .cloneditem-3 {
        display: block;
    }
}
@media all and (min-width: 992px) and (transform-3d),
    all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-correspondence .carousel-inner > .item.active.right,
    .carousel-correspondence .carousel-inner > .item.next {
        -webkit-transform: translate3d(16.666%, 0, 0);
        transform: translate3d(25%, 0, 0);
        left: 0;
    }
    .carousel-correspondence .carousel-inner > .item.active.left,
    .carousel-correspondence .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-16.666%, 0, 0);
        transform: translate3d(-25%, 0, 0);
        left: 0;
    }
    .carousel-correspondence .carousel-inner > .item.left,
    .carousel-correspondence .carousel-inner > .item.prev.right,
    .carousel-correspondence .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
@media all and (min-width: 1200px) {
    .carousel-correspondence .carousel-inner > .active.left,
    .carousel-correspondence .carousel-inner > .prev {
        left: -16.666667%;
    }
    .carousel-correspondence .carousel-inner > .active.right,
    .carousel-correspondence .carousel-inner > .next {
        left: 16.666667%;
    }
    .carousel-correspondence .carousel-inner > .left,
    .carousel-correspondence .carousel-inner > .prev.right,
    .carousel-correspondence .carousel-inner > .active {
        left: 0;
    }
    .carousel-correspondence .carousel-inner .cloneditem-2,
    .carousel-correspondence .carousel-inner .cloneditem-3,
    .carousel-correspondence .carousel-inner .cloneditem-4,
    .carousel-correspondence .carousel-inner .cloneditem-5,
    .carousel-correspondence .carousel-inner .cloneditem-6 {
        display: block;
    }
}
@media all and (min-width: 1200px) and (transform-3d),
    all and (min-width: 1200px) and (-webkit-transform-3d) {
    .carousel-correspondence .carousel-inner > .item.active.right,
    .carousel-correspondence .carousel-inner > .item.next {
        -webkit-transform: translate3d(16.666667%, 0, 0);
        transform: translate3d(16.666667%, 0, 0);
        left: 0;
    }
    .carousel-correspondence .carousel-inner > .item.active.left,
    .carousel-correspondence .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-16.666667%, 0, 0);
        transform: translate3d(-16.666667%, 0, 0);
        left: 0;
    }
    .carousel-correspondence .carousel-inner > .item.left,
    .carousel-correspondence .carousel-inner > .item.prev.right,
    .carousel-correspondence .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

.controls.control_image {
    margin-top: -32px !important;
    margin-right: 15px !important;
}

.u_d {
    margin-top: 10;
    margin-top: -20px !important;
}
.u_image {
    margin-top: 9px !important;
}
@media (max-width: 767px) {
    .comment_d {
        margin-top: -7px !important;
        margin-left: 2px !important;
    }

    .verify h1 {
        font-family: "Open Sans", sans-serif;
        text-align: center;
        background-color: #f4e059;
        color: black;
        margin-top: 74px;
        margin-bottom: 10px;
    }
    .comment_flex p {
        font-family: "Open Sans", sans-serif;
        margin-top: 3px;
        font-size: 14px;
    }
}

.company_flex {
    display: flex;
}
.company_logo_name {
    display: flex;
    margin-left: 0px;
}

@media (min-width: 997px) {
    .product_td {
        margin-top: 12px;
    }
}

@media (max-width: 997px) {
    .product_td {
        margin-top: 7px;
    }
}

#spe-cor {
    margin-top: -19px !important;
}
.gallery_img {
    margin-top: 38px !important;
    margin-left: 0px;
    margin-right: 0px;
}

tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    align-items: center;
    vertical-align: middle;
    border: none !important;
    padding: 15px 8px;
    margin-top: 7px !important;
}

.gallery_img img {
    width: 100% !important;
    height: 209px !important;
}
.profile_menu {
    margin-top: -9px !important;
}

@media (max-width: 600px) {
    .profile_menu .vendor_home a img {
        margin-right: -1px !important;
        margin-top: -1px !important;
    }

    .profile_menu .vendor_img a img {
        margin-right: -1px !important;
        margin-top: 5px !important;
    }

    .brow_btn {
        margin-top: 23px !important;
    }
}
@media (max-width: 500px) {
    .top_left_logo {
        margin-top: 340px;
        left: 7%;
    }
    li.add_business_logined {
        display: none;
    }
    .profile_menu .dropdown-menu {
        margin-top: 4px !important;
        left: -5px !important;
    }
}
